In [1]:
import pandas as pd
import numpy as np

In [2]:
nypd_complains_df = pd.read_parquet('cleaned_data/nypd_complaints.parquet')
nypd_complains_df

,vic_sex,offense,date,susp_sex,category,longitude,latitude,neighborhood,borough,area
0,F,ROBBERY,2019-12-31,U,FELONY,-73.881681,40.838026,East Tremont,Bronx,2.211749e+06
1,F,PETIT LARCENY,2019-12-30,None,MISDEMEANOR,-73.945657,40.800334,Central Harlem,Manhattan,4.387418e+06
2,M,FELONY ASSAULT,2019-12-24,M,FELONY,-73.939376,40.669832,Crown Heights,Brooklyn,6.261658e+06
3,D,PETIT LARCENY,2019-12-30,F,MISDEMEANOR,-73.908014,40.873671,Marble Hill,Manhattan,3.446919e+05
4,M,PETIT LARCENY,2019-12-30,None,MISDEMEANOR,-73.994529,40.760935,Midtown West,Manhattan,3.273132e+06
...,...,...,...,...,...,...,...,...,...,...
461706,M,VEHICLE AND TRAFFIC LAWS,2019-01-03,None,MISDEMEANOR,-73.905708,40.669126,Brownsville,Brooklyn,3.900906e+06
461707,M,FELONY ASSAULT,2019-01-02,F,FELONY,-73.733559,40.692214,Cambria Heights,Queens,3.056673e+06
461708,D,PETIT LARCENY,2019-01-05,F,MISDEMEANOR,-73.922373,40.609900,Mill Basin,Brooklyn,2.458728e+06
461709,M,ASSAULT 3 & RELATED OFFENSES,2019-01-04,None,MISDEMEANOR,-73.988372,40.756642,Midtown,Manhattan,1.862342e+06
461710,E,DANGEROUS DRUGS,2018-01-02,M,MISDEMEANOR,-73.920977,40.815122,Mott Haven,Bronx,3.333991e+06

In [3]:
parks_properties_df = pd.read_parquet('cleaned_data/parks_properties.parquet')
parks_properties_df

,latitude,longitude,category,name,waterfront,acres,neighborhood,borough,area
0,40.756623,-73.727964,Jointly Operated Playground,Challenge Playground,False,2.035,Little Neck,Queens,2.064722e+06
1,40.674433,-73.865252,Neighborhood Park,Robert E. Venable Park,False,2.939,East New York,Brooklyn,1.617295e+07
2,40.525576,-74.184467,Nature Area,Kingdom Pond Park,False,4.22,Huguenot,Staten Island,4.679218e+06
3,40.876281,-73.891882,Neighborhood Park,Harris Park,False,15.32,Bedford Park,Bronx,1.525273e+06
4,40.842200,-73.888758,Strip,Park,False,0.023,East Tremont,Bronx,2.211749e+06
...,...,...,...,...,...,...,...,...,...
2012,40.813785,-73.830495,Flagship Park,Ferry Point Park,True,413.8,Throgs Neck,Bronx,1.059441e+07
2013,40.813069,-73.962079,Neighborhood Park,Sakura Park,False,2.067,Morningside Heights,Manhattan,1.258679e+06
2014,40.701160,-73.987588,Parkway,Park,False,0.047,DUMBO,Brooklyn,6.860450e+05
2015,40.701933,-73.933035,Neighborhood Park,Green Central Knoll,False,2.741,Bushwick,Brooklyn,6.058049e+06
2016,40.661466,-73.744182,Community Park,Brookville Park,False,89.946,Brookville,Queens,2.001154e+06

In [4]:
school_locations_df = pd.read_parquet('cleaned_data/school_locations.parquet')
school_locations_df

,latitude,longitude,category,name,neighborhood,borough,area
0,40.648959,-74.011420,Elementary,P.S. 001 The Bergen,Sunset Park,Brooklyn,5.880031e+06
1,40.656423,-73.951575,Junior High-Intermediate-Middle,Parkside Preparatory Academy,Prospect Lefferts Gardens,Brooklyn,1.188548e+06
2,40.682311,-73.955219,Elementary,P.S. 003 The Bedford Village,Bedford-Stuyvesant,Brooklyn,8.300323e+06
3,40.658500,-73.879276,Elementary,P.S. K004,East New York,Brooklyn,1.617295e+07
4,40.685241,-73.921970,Elementary,P.S. 005 Dr. Ronald McNair,Bedford-Stuyvesant,Brooklyn,8.300323e+06
...,...,...,...,...,...,...,...
2185,40.814900,-73.917000,Elementary,Readnet Bronx Charter School,Mott Haven,Bronx,3.333991e+06
2186,40.821815,-73.886477,Elementary,Bronx Charter School for the Arts,Hunts Point,Bronx,5.131851e+06
2187,40.811051,-73.909363,High school,J. M. Rapport School Career Development,Mott Haven,Bronx,3.333991e+06
2188,40.830552,-73.886798,Secondary School,P.S. X811,Crotona Park East,Bronx,1.975787e+06
2189,40.830552,-73.886798,Secondary School,P.S. X811,Crotona Park East,Bronx,1.975787e+06

In [5]:
subway_stations_df = pd.read_parquet('cleaned_data/subway_stations.parquet')
subway_stations_df

,name,line,longitude,latitude,neighborhood,borough,area
0,Astor Pl,4-6-6 Express,-73.991070,40.730054,East Village,Manhattan,1.847620e+06
1,Canal St,4-6-6 Express,-74.000193,40.718803,Chinatown,Manhattan,3.478105e+05
2,50th St,1-2,-73.983849,40.761728,Midtown,Manhattan,1.862342e+06
3,Bergen St,2-3-4,-73.974999,40.680862,Prospect Heights,Brooklyn,9.071918e+05
4,Pennsylvania Ave,3-4,-73.894886,40.664714,East New York,Brooklyn,1.617295e+07
...,...,...,...,...,...,...,...
468,Coney Island - Stillwell Av,D-F-N-Q,-73.981236,40.577281,Coney Island,Brooklyn,3.564659e+06
469,34th St - Hudson Yards,7-7 Express,-74.002197,40.755446,Midtown West,Manhattan,3.273132e+06
470,72nd St,Q,-73.958362,40.768803,Upper East Side,Manhattan,4.861989e+06
471,86th St,Q,-73.951771,40.777861,Upper East Side,Manhattan,4.861989e+06
472,96th St,Q,-73.947066,40.784237,Upper East Side,Manhattan,4.861989e+06